<a href="https://colab.research.google.com/github/memetics19/Mutual_funds_predictor/blob/master/Mutual_Funds_prediction_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
!pip install quandl
!pip install pycurl
import pandas_datareader as pdr
import pandas as pd
import json 
import quandl
import datetime
import requests 
import pycurl

Requirement already satisfied: quandl in /usr/local/lib/python3.6/dist-packages (3.5.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.3.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.21.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.25.3)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.17.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.6.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: pycurl in /usr/local/lib/python3.6/dist-packages (7.43.0.5)

In [0]:
quandl=quandl.get("XBOM/500010", authtoken="nFMeyzefakfpgRcPvwue")
quandl.to_csv('AMFI.csv')
df = pd.read_csv('AMFI.csv', header=0, parse_dates=True)

In [64]:
df.isnull().sum()/len(df)*100

Date                  0.000000
Open                  0.000000
High                  0.000000
Low                   0.000000
Close                 0.000000
Volume                0.000000
Adjustment Factor    99.446101
Adjustment Type      99.446101
dtype: float64

In [0]:
x=df.drop(['Adjustment Factor','Adjustment Type','Volume'],axis=1)
y=df['Volume']

In [66]:
df.dropna(axis=0)

            Date         Open  ...  Adjustment Factor  Adjustment Type
127   2010-06-29   529.145880  ...           0.987837             17.0
163   2010-08-18   550.369270  ...           0.200000              5.0
383   2011-06-22   583.183547  ...           0.985985             17.0
645   2012-06-22   590.104320  ...           0.983017             17.0
909   2013-06-27   767.964287  ...           0.984664             17.0
1175  2014-07-04   953.061605  ...           0.986075             17.0
1363  2015-03-25  1296.737302  ...           0.998529             17.0
1628  2016-03-30  1076.620019  ...           0.997340             17.0
1705  2016-07-15  1287.780402  ...           0.989523             17.0
1874  2017-03-09  1338.086842  ...           0.997806             17.0
1965  2017-07-14  1608.394397  ...           0.990944             17.0
2144  2018-03-22  1786.892902  ...           0.998076             17.0
2229  2018-07-19  1990.435482  ...           0.991784             17.0

[13 rows x 8 columns]

In [67]:
df['diff']=df.Open-df.Close
print(df)

            Date         Open  ...  Adjustment Type       diff
0     2010-01-01   475.777931  ...              NaN   0.000000
1     2010-01-04   476.337596  ...              NaN   1.474674
2     2010-01-05   479.891028  ...              NaN   3.446829
3     2010-01-06   479.891028  ...              NaN   1.847784
4     2010-01-07   478.114312  ...              NaN   8.110709
...          ...          ...  ...              ...        ...
2342  2018-12-25  1884.374696  ...              NaN   0.000000
2343  2018-12-26  1890.368790  ...              NaN -26.205584
2344  2018-12-27  1932.971441  ...              NaN   4.309803
2345  2018-12-28  1938.222466  ...              NaN -23.580072
2346  2018-12-31  1975.574092  ...              NaN  23.778224

[2347 rows x 9 columns]